@using Dto.ApiPanelDtos.BlogCategoryDtos;
@model AddBlogCategoryDto
@{
    ViewData["Title"] = "AddBlogCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h4 class="card-header">
        <a href="/BlogCategory/Index">Blog Category List</a>
        > Add Blog Category</h4>
    <div class="card-body">

        <!--Add Blog Category Start-->
        <!-- start page title -->
        <form method="post" >
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg6 mb-3 mr-1">
                    <label for="blogcategoryname" class="form-label fw-bold">
                        Blog Category Name:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="text" asp-for="BlogCategoryName" class="form-control" onkeyup="convertTo()">
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="slug" class="form-label fw-bold">
                        Slug:
                        <span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="text" asp-for="Slug" class="form-control" required id="slug">
                </div>

            </div>



            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="orderinput" class="form-label fw-bold">
                        Order:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="number" asp-for="Order" class="form-control">
                </div>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                <label for="SitemapInclude" class="form-label fw-bold d-block">
                    Sitemap Include:<span class="text-danger fw-bold">*</span>
                </label>
                <input asp-for="SitemapInclude" class="form-check-input" type="checkbox" value="true"
                       id="SitemapInclude">
               
            </div> 


           




            <div class="row">
                <!-- Button -->
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                    <button type="submit"
                            class="btn btn-dark rounded-pill px-5 mt-3">
                        ADD
                    </button>
                </div>
            </div>
        </form>
        <!--Add Blog Category End-->

    </div>
</div>

@section Scripts {
    <script>
        function convertTo() {

            var deger = $('#BlogCategoryName').val().trim();

            var chacters = {
                Ç: 'c',
                Ö: 'o',
                Ş: 's',
                İ: 'i',
                I: 'i',
                Ü: 'u',
                Ğ: 'g',
                ç: 'c',
                ö: 'o',
                ş: 's',
                ı: 'i',
                ü: 'u',
                ğ: 'g',
                " ": '-'
            };
            var stringtoarray = deger.split('');
            for (var i = 0; i < stringtoarray.length; i++) {
                stringtoarray[i] = chacters[stringtoarray[i]] || stringtoarray[i];
            }

            var arraytostring = stringtoarray.join('');
            var cleanMessage = arraytostring.replace(/\./g, "-").replace(/\//g, "-").replace(/[^\w\s-]/g, '').replace(/[\s_-]+/g, '-').replace(/^-+|-+$/g, '').toLowerCase();
            $('#slug').val(cleanMessage);

        }
    </script>

}