@using Dto.ApiPanelDtos.BlogCategoryDtos;
@model EditBlogCategoryDto
@{
    ViewData["Title"] = "EditBlogCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h4 class="card-header">
        <a href="/BlogCategory/Index">Blog Category List</a>
        > Edit Blog Category > @Model.BlogCategoryName
    </h4>
    <div class="card-body">

        <!--Edit Blog Category Start-->
        <!-- start page title -->
        <form method="post" >
            <input hidden asp-for="BlogCategoryID" />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                    <label for="orderinput" class="form-label fw-bold">
                        Order:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="number" asp-for="Order" class="form-control">
                </div>
            </div>
            <div class="row">
                <!-- Button -->
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                    <button type="submit"
                            class="btn btn-dark rounded-pill px-5 mt-3">
                        SAVE
                    </button>
                </div>
            </div>
        </form>
        <!--Edit Blog Category End-->

    </div>
</div>

