@using Dto.ApiPanelDtos.BlogCategoryDtos;
@model LanguageEditBlogCategoryDto
@{
    ViewData["Title"] = "LanguageEditBlogCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="float-start">
            <a href="/BlogCategory/Index">Blog Category List</a>
            > Edit Blog Category > @Model.BlogCategoryName
        </h4>
        <h4 class="float-end">@Model.LanguageName</h4>
    </div>
    <div class="card-body">

        <!--Edit Blog Category Start-->
        <!-- start page title -->
        <form method="post">
            <input hidden asp-for="BlogCategoryLanguageItemID" />
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="blogcategoryname" class="form-label fw-bold">
                        Blog Category Name:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="text" asp-for="BlogCategoryName" class="form-control" id="blogCategoryName" onkeyup="convertTo()">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="tourcatogoryname" class="form-label fw-bold">
                        Slug:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="text" asp-for="Slug" class="form-control" id="blogCategorySlug">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="SitemapInclude" class="form-label fw-bold d-block">
                        Sitemap Include:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input asp-for="SitemapInclude" class="form-check-input" type="checkbox" value="true"
                           id="SitemapInclude">

                </div>
                <!-- Button -->
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                    <button type="submit"
                            class="btn btn-dark rounded-pill px-5 mt-3">
                        SAVE
                    </button>
                </div>
            </div>  
        </form>
        <!--Edit Blog Category End-->

    </div>
</div>

@section Scripts {
    <script>
        function convertTo() {

            var deger = $('#blogCategoryName').val().trim();

            var chacters = {
                Ç: 'c',
                Ö: 'o',
                Ş: 's',
                İ: 'i',
                I: 'i',
                Ü: 'u',
                Ğ: 'g',
                ç: 'c',
                ö: 'o',
                ş: 's',
                ı: 'i',
                ü: 'u',
                ğ: 'g',
                " ": '-'
            };
            var stringtoarray = deger.split('');
            for (var i = 0; i < stringtoarray.length; i++) {
                stringtoarray[i] = chacters[stringtoarray[i]] || stringtoarray[i];
            }

            var arraytostring = stringtoarray.join('');
            var cleanMessage = arraytostring.replace(/\./g, "-").replace(/\//g, "-").replace(/[^\w\s-]/g, '').replace(/[\s_-]+/g, '-').replace(/^-+|-+$/g, '').toLowerCase();
            $('#blogCategorySlug').val(cleanMessage);

        }
    </script>
    
}