@using Dto.ApiPanelDtos.ProductDtos.TourDtos;
@model LanguageEditTourFaqDto

@{
    ViewData["Title"] = "LanguageEditTourFaq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="float-start">Tour F.A.Q Edit</h4>
        <h4 class="float-end">@Model.LanguageName</h4>
    </div>
    <div class="card-body">
        <p class="card-text">
            Asterisk (<span class="text-danger fw-bold">*</span>) required
            fields
        </p>
        <!---Add FAQ Start-->
        <!-- start page title -->
        <form method="post" action="/Tour/LanguageEditTourFaq" >
            <input hidden asp-for="FaqLanguageID"  />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                    <label for="title" class="form-label fw-bold">
                        Question:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input asp-for=Question type="text" id="title" class="form-control">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                    <label for="example-select2" class="form-label fw-bold">
                        Answer:<span class="text-danger fw-bold">*</span>
                    </label>
                    <textarea  asp-for=Answer rows="3" class="form-control col-md-6"> </textarea>
                </div>
            </div>
            <div class="row">
                <!-- Button -->
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                    <button type="submit" class="btn btn-dark rounded-pill px-5 mt-3">
                        SAVE
                    </button>
                </div>
            </div>
        </form>
        <!---Add FAQ End-->
    </div>
</div>

