@using Dto.ApiPanelDtos.LanguageDtos;
@using Dto.ApiPanelDtos.ProductDtos.TourDtos;
@model (List<TourFaqListDto> DataModel, List<LanguageListDto> LangaugeModel)
@{
    ViewData["Title"] = "TourFaqList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h4 class="card-header">
        <a href="/Tour/Index">Tour List</a>
        >  F.A.Q List
    </h4>
    @await Component.InvokeAsync("TourDetailHeader")

    <div class="card-body">
        <div class="clearfix">
            <div class="row justify-content-end">
                <div class="mb-4">
                    <a class="btn btn-secondary float-end" href="/Tour/AddTourFaq/@ViewBag.TourID">
                        Add Tour F.A.Q
                    </a>
                </div>
            </div>
        </div>
        <table id="scroll-horizontal-datatable" class="table w-100 nowrap table-striped">
            <thead>
                <tr>

                    <th style="width: 0%;">Update</th>
                    <th style="width: 0%;">Statu</th>
                    <th>Order</th>
                    <th>Question</th>
                    <th>Answer</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var faq in Model.DataModel.OrderBy(x=>x.Order))
                {
                    <tr>
                        <td>
                            <div class="btn-group">
                                <a href="/Tour/EditTourFaq/@faq.FaqID" class="btn btn-primary">Update</a>
                                <button type="button"
                                        class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var language in Model.LangaugeModel)
                                    {
                                        <li>
                                            <a class="dropdown-item"
                                               href="/Tour/LanguageEditTourFaq/@faq.FaqID/@language.LanguageID">@language.LanguageName</a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </td>
                        <td>
                            @if (faq.Status)
                            {
                                <a href="/Tour/ToggleTourFaqStatus/@faq.FaqID" class="btn btn-success w-100">Active</a>
                            }else
                            {
                                <a href="/Tour/ToggleTourFaqStatus/@faq.FaqID" class="btn btn-danger w-100">Passive</a>
                            }
                            
                        </td>
                        <td>@faq.Order</td>
                        <td>
                            @faq.Question
                        </td>
                        <td>
                            @faq.Answer
                        </td>

                    </tr>
                }
                

            </tbody>

        </table>

    </div>
</div>

