@using Dto.ApiWebDtos.ApiToWebDtos.GeneralPages;
@model GetForgotPasswordDto
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mt-120 mb-120">
        <div class="col-lg-10 offset-lg-1">
            <div class="bg-white shadow rounded my-5">
                <div class="row">
                    <div class="col-md-7 pe-0">
                        <div class="form-left h-100 py-5 px-5 booking-form-box">
                            <fieldset>
                                <div class="form-card">
                                    <div class="mb-5">
                                        <h1 class="text-center">@Helpers.Wcv(Model.ConstantValues, "ForgotPasswordTitle")</h1>
                                    </div>
                                    <form method="post" id="msform" class="banner-form" >
                                        <div class="search-box-single destination-box postition-relative">
                                            <div class="searchbox-icon">
                                                <i class="far fa-envelope-open"></i>
                                            </div>
                                                @if (ViewBag.UserMail != null)
                                                {
                                                            <div class="searchbox-input">
                                                                <input required placeholder="@ViewBag.UserMail" type="email"
                                                                       name="Email" />
                                                            </div>
                                                }
                                                else
                                                {

                                                            <div class="searchbox-input">
                                                                <input required placeholder="@Helpers.Wcv(Model.ConstantValues,"ForgotPasswordEmailPlaceholder")" type="email"
                                                                       name="Email" />
                                                            </div>
                                                }
                                        </div>
                                                        <div class="col-lg-6">
                                                            <small id="passwordError" class="text-danger text-start" style="display:none">
                                                                User Not Found !
                                                            </small>
                                                        </div>
                                                        <div class="col-lg-6">
                                            <small id="mailSent" class="text-success text-start" style="display:none">
                                                            Mail Sent to Your Email!
                                                            </small>
                                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit"
                                                    class="eg-btn btn--primary btn--lg submit-btn float-end">
                                                @Helpers.Wcv(Model.ConstantValues, "ForgotPasswordButton")
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-md-5 ps-0 d-none d-md-block">
                        <div class="form-right h-100 text-white text-center d-flex align-items-center">
                            <img src="/assets/images/logo-lg.png" class="p-5 img-fluid" alt="Guided Istanbul Tours" title="Guided Istanbul Tours" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#msform').submit(function (event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '/CustomPage/ForgotPassword',
                    data: formData,
                    success: function (response) {
                        console.log('Success:', response);
                        if (response.errors) {
                            $('#passwordError').show();
                            $('#mailSent').hide();
                        }
                        else {
                            $('#mailSent').show();
                            $('#passwordError').hide();
                        }
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>
}