@model ResetPasswordValidationPostDto
@{
    ViewData["Title"] = "ResetPasswordValidation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="bg-white shadow rounded my-5">
                <div class="row mt-120 mb-120">
                    <div class="col-md-7 pe-0">
                        <div class="form-left h-100 py-5 px-5 booking-form-box">
                            <fieldset>
                                <div class="form-card">
                                    <div class="mb-5">
                                        <h1 class="text-center"></h1>
                                    </div>
                                    <form method="post" id="msform" class="banner-form" action = "/CustomPage/ResetPasswordValidation">
                                        <div class="search-box-single destination-box postition-relative">
                                            <div class="searchbox-icon">
                                                <i class="fas fa-key"></i>
                                            </div>
                                            <div class="searchbox-input">
                                                <input asp-for ="ResetCode" placeholder="Code" type="text" />
                                                <input asp-for="UrlCode" hidden  />
                                            </div>
                                        </div>
                                                @{

                                                    if (ViewBag.InvalidCodeMessage is not null)
                                                    {
                                                        <div class="col-lg-2">
                                                            <small id="invalidCode" class="text-danger text-start">
                                                                @ViewBag.InvalidCodeMessage
                                                            </small>
                                                        </div>
                                                    }
                                                }
                                         <div class="col-lg-12">
                                            <button type="submit"
                                                    class="eg-btn btn--primary btn--lg submit-btn float-end">
                                               Submit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-md-5 ps-0 d-none d-md-block">
                        <div class="form-right h-100 text-white text-center d-flex align-items-center">
                            <img src="/assets/images/logo-lg.png" class="img-fluid p-5" alt="Guided Istanbul Tours" title="Guided Istanbul Tours"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

