@* @using Dto.ApiPanelDtos.UserDtos;
@using Dto.ApiWebDtos.GeneralDtos;
@model AddUserDto

    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Add User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                    <form method="post" asp-controller="User" asp-action="AddUser">
                        <input hidden asp-for="UserID" />
                        <div class="row">
                            <div class="col-sm-12 col-lg-6 mb-3 mr-1">
                                <label for="commission-rate"
                                       class="form-label fw-bold">
                                    Name:
                                    <span class="text-danger fw-bold">*</span>
                                </label>
                                <input readonly asp-for="Name" type="text" id="commission-rate"
                                       class="form-control">
                            </div>
                            <div class="col-sm-12 col-lg-6 mb-3 mr-1">
                                <label for="commission-rate"
                                       class="form-label fw-bold">
                                    Surname:
                                    <span class="text-danger fw-bold">*</span>
                                </label>
                                <input readonly asp-for="Surname" type="text" id="commission-rate"
                                       class="form-control">
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                                <label for="roles" class="form-label fw-bold">
                                    Roles:<span class="text-danger fw-bold">*</span>
                                </label>
                            <select class="form-select" asp-for="Roles"
                                        multiple="multiple">
                                    @foreach (var role in (List<SelectListOptionDto>)ViewBag.Roles)
                                    {
                                        <option value="@role.OptionID">@role.Option</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Button -->
                            <div class="col-sm-12  mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                                <button type="submit"
                                        class="btn btn-dark rounded-pill px-5 mt-3">
                                    ADD
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });

    $('.my-select').selectpicker();
</script>
 *@