@using Dto.ApiPanelDtos.BlogDtos;
@model LanguageEditBlogDto
@{
    ViewData["Title"] = "LanguageEditBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="float-start">
            <a href="/Blog/Index">Blog List</a>
            > Edit Blog > @Model.BlogTitle
        </h4>
        <h4 class="float-end">@Model.LanguageName</h4>
    </div>
    <div class="card-body">
        <p class="card-text">
            Asterisk (<span class="text-danger fw-bold">*</span>) required
            fields
        </p>
        <!---Edit UBlog Start-->
        <!-- start page title -->
        <form method="post">
            <input hidden asp-for="BlogLanguageID" />
            <input hidden asp-for="LanguageName" />
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="title" class="form-label fw-bold">
                        Title:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="text" asp-for="BlogTitle" class="form-control" required id="blogTitle" onkeyup="convertTo()">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="slug" class="form-label fw-bold">
                        Slug:
                        <span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="text" asp-for="Slug" class="form-control" required id="blogSlug">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                    <label for="short-description" class="form-label fw-bold">
                        Short Description:
                        <span class="text-danger fw-bold">*</span>
                    </label>
                    <textarea asp-for="ShortDescription" rows="3"
                              class="form-control"> </textarea>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                    <label for="SitemapInclude" class="form-label fw-bold d-block">
                        Sitemap Include:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input asp-for="SitemapInclude" class="form-check-input" type="checkbox" value="true"
                           id="SitemapInclude">
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                        <label class="form-label fw-bold">
                            Content Part 1:<span class="text-danger fw-bold">*</span>
                        </label>
                        <textarea required asp-for="Content1" id="editor1" rows="4" cols="4"> </textarea>
                        <script>
                            var cke1 = CKEDITOR.replace('editor1', {
                                filebrowserUploadUrl: '/Blog/UploadContentImage1',
                                filebrowserUploadMethod: 'form'
                            });
                        </script>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                        <label class="form-label fw-bold">
                            Content Part 2:<span class="text-danger fw-bold">*</span>
                        </label>
                        <textarea required asp-for="Content2" id="editor2" rows="4" cols="4"> </textarea>
                        <script>
                            var cke2 = CKEDITOR.replace('editor2', {
                                filebrowserUploadUrl: '/Blog/UploadContentImage2',
                                filebrowserUploadMethod: 'form'
                            });
                        </script>
                    </div>
                </div>

            </div>
            <div class="row">
                <!-- Button -->
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                    <button type="submit"
                            class="btn btn-dark rounded-pill px-5 mt-3">
                        SAVE
                    </button>
                </div>
            </div>
        </form>
        <!---Edit Blog End-->

    </div>
</div>
@section Scripts {
    <script>
        function convertTo() {

            var deger = $('#blogTitle').val().trim();

            var chacters = {
                Ç: 'c',
                Ö: 'o',
                Ş: 's',
                İ: 'i',
                I: 'i',
                Ü: 'u',
                Ğ: 'g',
                ç: 'c',
                ö: 'o',
                ş: 's',
                ı: 'i',
                ü: 'u',
                ğ: 'g',
                " ": '-'
            };
            var stringtoarray = deger.split('');
            for (var i = 0; i < stringtoarray.length; i++) {
                stringtoarray[i] = chacters[stringtoarray[i]] || stringtoarray[i];
            }

            var arraytostring = stringtoarray.join('');
            var cleanMessage = arraytostring.replace(/\./g, "-").replace(/\//g, "-").replace(/[^\w\s-]/g, '').replace(/[\s_-]+/g, '-').replace(/^-+|-+$/g, '').toLowerCase();
            $('#blogSlug').val(cleanMessage);

        }
    </script>

}
