@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style id='egns-stylesheet-inline-css'>

    .inner-banner-section .breadcrumb-area h2, .woocommerce-products-header h1 {
        font-size: 50px;
    }

    .inner-banner-section .breadcrumb-area h2, .woocommerce-products-header h1 {
        font-family: Merriweather;
    }

    .inner-banner-section .breadcrumb-area h2, .woocommerce-products-header h1 {
        color: #fff;
    }

    .inner-banner-section .breadcrumb-area span {
        color: #fff;
    }

    .inner-banner-section, .woocommerce-products-header {
        background-color: #000;
    }

    .inner-banner-section, .woocommerce-products-header {
        background-image: url('https://astrip-wp.b-cdn.net/wp-content/themes/astrip/includes/theme-options/images/breadcrumb/breadcrumb-bg.jpg');
    }

    .footer-section {
        background-image: linear-gradient(rgba(9, 16, 13, 0.88), rgba(9, 16, 13, 0.88)), url('https://astrip-wp.b-cdn.net/wp-content/themes/astrip/includes/theme-options/images/footer/footer-bg.png');
    }
</style>
<!-- ========== header end============= -->
<div class="inner-banner-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-md-10 col-sm-12">
                <div class="breadcrumb-area">
                    <span>
                        <h2>Error</h2>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="error-section pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 col-sm-12 text-center">
                <div class="error-wrapper">
                    <div class="error-image">
                        <img src="/assets/images/404-image.png" alt="error-image">
                    </div>
                    <div class="error-text">
                        <p class="para">It looks like you&#039;ve reached a URL that doesn’t exist. Please use the navigation above or search below to find your way back to our amazing website.</p>
                        <a href="/" class="eg-btn btn--outline sibling3 btn--lg capsule btn--primary" title="Back To Home"><i class="bi bi-house-door"></i> Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

