
<div class="home1preloader" style="display:none">
    <div class="egns-preloader">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-6">
                    <div class="circle-border">
                        <div class="moving-circle"></div>
                        <div class="moving-circle"></div>
                        <div class="moving-circle"></div>
                        <svg width="100%" height="100%" viewBox="0 0 1447 886" version="1.1"
                             xmlns="http://www.w3.org/2000/svg">
                            <g id="#ec8d22ff">
                                <path fill="#ec8d22" opacity="1.00"
                                      d=" M 645.72 171.00 C 657.43 169.47 669.18 168.12 681.00 167.79 C 696.65 167.77 712.30 167.70 727.95 167.84 C 745.66 169.00 763.55 169.96 780.85 174.20 C 785.94 175.74 792.62 177.46 793.93 183.45 C 795.13 190.32 793.98 197.37 792.73 204.16 C 787.46 228.44 770.99 248.76 751.59 263.55 C 750.24 264.48 748.62 265.50 746.91 265.14 C 708.66 253.66 666.73 255.96 629.52 270.22 C 595.36 283.29 565.29 306.85 544.51 336.97 C 525.26 364.49 514.09 397.40 511.90 430.87 C 509.69 467.99 519.15 505.76 538.54 537.51 C 556.93 567.73 584.22 592.48 616.19 607.65 C 638.61 618.45 663.26 624.47 688.09 625.60 C 696.64 627.04 705.36 626.13 713.99 626.37 C 748.15 623.27 781.85 614.91 813.47 601.60 C 843.38 588.96 871.42 571.51 894.98 549.08 C 902.29 541.88 909.60 534.68 916.70 527.27 C 929.60 512.89 943.00 498.93 954.70 483.53 C 947.44 533.57 925.68 581.41 893.02 620.01 C 861.15 657.85 818.83 686.83 771.96 702.71 C 750.30 710.18 727.66 714.75 704.84 716.66 C 701.74 717.85 698.35 717.53 695.10 717.78 C 684.27 718.01 673.42 718.06 662.60 717.32 L 662.51 716.55 C 592.20 711.74 524.46 677.96 477.92 625.08 C 449.70 593.39 429.07 554.99 418.11 514.00 C 408.71 478.92 406.19 441.98 411.24 406.00 C 416.73 365.45 431.43 326.17 453.98 292.02 C 473.13 262.84 497.95 237.38 526.64 217.50 C 561.94 192.91 603.11 176.83 645.72 171.00 Z" />
                            </g>
                            <g id="#00b1e8ff">
                                <path fill="#00b1e8" opacity="1.00"
                                      d=" M 842.57 226.93 C 855.53 216.96 873.24 212.96 889.08 217.41 C 900.97 220.36 911.71 227.58 919.05 237.37 C 925.42 245.57 928.88 255.70 930.09 265.93 C 931.45 285.05 922.04 304.65 905.97 315.21 C 899.21 319.99 891.21 322.46 883.21 324.22 C 876.33 324.30 869.26 325.08 862.61 322.87 C 844.58 318.61 829.41 304.37 823.85 286.72 C 821.16 279.43 821.22 271.63 821.55 263.98 C 823.21 249.49 830.92 235.76 842.57 226.93 Z" />
                                <path fill="#00b1e8" opacity="1.00"
                                      d=" M 755.55 370.83 C 756.65 370.56 757.79 370.41 758.94 370.36 C 774.29 370.21 789.66 370.41 805.01 369.92 C 854.39 369.67 903.78 369.36 953.17 369.27 C 957.60 390.24 952.29 411.75 945.32 431.57 C 935.41 459.58 920.63 485.93 901.32 508.55 C 881.07 532.44 855.95 551.99 828.47 566.92 C 789.56 587.97 746.15 600.21 702.19 604.44 C 702.30 604.12 702.53 603.48 702.64 603.16 C 718.05 595.53 732.58 586.14 746.35 575.86 C 770.35 557.56 791.78 534.57 803.39 506.35 C 810.73 488.20 813.80 468.04 810.22 448.67 C 769.30 448.66 728.37 448.68 687.45 448.66 C 690.11 432.73 696.24 417.27 705.75 404.17 C 717.82 387.73 735.71 375.66 755.55 370.83 Z" />
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>