@using Dto.ApiPanelDtos.PersonPolicyDtos;
@model EditPersonPolicyDto
@{
    ViewData["Title"] = "EditPersonPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h4 class="card-header">
        <a href="/PersonPolicy/Index">Policy List</a>
        > Edit Person Policy > Order : @Model.Order
    </h4>
    <div class="card-body">
        <p class="card-text">
            Asterisk (<span class="text-danger fw-bold">*</span>) required
            fields
        </p>
        <!--Edit Person Policy Start-->
        <!-- start page title -->
        <form method="post">
            <input hidden asp-for="PersonPolicyID" />
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="order" class="form-label fw-bold">
                        From Person: <span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="number" asp-for="FromPerson" class="form-control">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="order" class="form-label fw-bold">
                        To Person: <span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="number" asp-for="ToPerson" class="form-control">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="order" class="form-label fw-bold">
                        Order: <span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="number" asp-for="Order" class="form-control">
                </div>
            </div>
            <div class="row">
                <!-- Button -->
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                    <button type="submit"
                            class="btn btn-dark rounded-pill px-5 mt-3">
                        SAVE
                    </button>
                </div>
            </div>
        </form>
        <!--Edit Person Policy End-->

    </div>
</div>

