@using Dto.ApiPanelDtos.FaqCategoryDtos;
@model LanguageEditFaqCategoryDto
@{
    ViewData["Title"] = "LanguageEditFaqCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="float-start">Edit F.A.Q Category</h4>
        <h4 class="float-end">@Model.LanguageName</h4>
    </div>
    <div class="card-body">
        <p class="card-text">
            Asterisk (<span class="text-danger fw-bold">*</span>) required
            fields
        </p>
        <!--Add FAQ Category Start-->
        <!-- start page title -->
        <form method="post">
            <input hidden asp-for="FaqCategoryLanguageItemID" />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                    <label for="faqcategoryname" class="form-label fw-bold">
                        FAQ Category
                        Name:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input asp-for=CategoryName type="text" id="faqcategoryname" class="form-control">
                </div>
            </div>
            <div class="row">
                <!-- Button -->
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                    <button type="submit"
                            class="btn btn-dark rounded-pill px-5 mt-3">
                        SAVE
                    </button>
                </div>
            </div>
        </form>
        <!--Edit FAQ Category End-->

    </div>
</div>

