@using Dto.ApiPanelDtos.CancellationPolicyDtos;
@model LanguageEditCancellationPolicyDto
@{
    ViewData["Title"] = "LanguageEditCancellationPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="float-start">
            <a href="/CancellationPolicy/Index">Policy List</a>
            > Edit Cancellation Policy > @Model.Name
            </h4>
        <h4 class="float-end">@Model.LanguageName</h4>
    </div>
    <div class="card-body">
        <p class="card-text">
            Asterisk (<span class="text-danger fw-bold">*</span>) required
            fields
        </p>
        <!---Edit Cancellation Policy Management Start-->
        <!-- start page title -->
        <form method="post" >
            <input hidden asp-for="CancellationPolicyLanguageItemID" />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                    <label for="" class="form-label fw-bold">
                        Cancellation Policy Text:<span class="text-danger fw-bold">*</span>
                    </label>
                    <textarea required asp-for="Content" id="editor1" rows="4" cols="4"></textarea>
                    <script>
                        CKEDITOR.replace('editor1');
                    </script>
                </div>
            </div>
            <div class="row">
                <!-- Button -->
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                    <button type="submit"
                            class="btn btn-dark rounded-pill px-5 mt-3">
                        SAVE
                    </button>
                </div>
            </div>
        </form>
        <!--- Edit Cancellation Policy Management End-->
    </div>
</div>

