@using Dto.ApiPanelDtos.InfoCardDtos;
@model LanguageEditInfoCardDto
@{
    ViewData["Title"] = "LanguageEditInfoCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">

        <h4 class="float-start">Edit Information Card</h4>
        <h4 class="float-end">@Model.LanguageName</h4>
    </div>
    <div class="card-body">
        <p class="card-text">
            Asterisk (<span class="text-danger fw-bold">*</span>) required
            fields
        </p>
        <!--Edit Tag Start-->
        <!-- start page title -->
        <form method="post">
            <input hidden asp-for="LanguageInfoCardID" />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                    <label for="tagname" class="form-label fw-bold">
                        Title:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="text" asp-for="Title" class="form-control">
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                <label for="tagname" class="form-label fw-bold">
                    Content:<span class="text-danger fw-bold">*</span>
                </label>
                <textarea class="form-control" asp-for="Content" rows="2"></textarea>
            </div>
            <div class="row">
                <!-- Button -->
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                    <button type="submit"
                            class="btn btn-dark rounded-pill px-5 mt-3">
                        SAVE
                    </button>
                </div>
            </div>
        </form>
        <!--Edit Tag End-->

    </div>
</div>

