@using Dto.ApiPanelDtos.SurveyDtos;
@model AddSurveyDto
@{
    ViewData["Title"] = "AddSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h4 class="card-header">
        <a href="/Survey/Index">Survey List</a>
        > Add Survey
    </h4>
    <div class="card-body">
        <p class="card-text">
            Asterisk (<span class="text-danger fw-bold">*</span>) required
            fields
        </p>
        <!---Add Survey Start-->
        <!-- start page title -->
        <form method="post" >
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                    <label for="order" class="form-label fw-bold">
                        Order:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="number" asp-for="Order" class="form-control">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mr-1">
                    <label for="survey-question" class="form-label fw-bold">
                        Survey
                        Question:<span class="text-danger fw-bold">*</span>
                    </label>
                    <textarea asp-for="Question" rows="2"
                              class="form-control col-md-6"> </textarea>
                </div>
                <!-- Button -->
                <div class="col-sm-12 mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                    <button type="submit"
                            class="btn btn-dark rounded-pill px-5 mt-3">
                        ADD
                    </button>
                </div>
            </div>
        </form>
        <!---Add Survey End-->
    </div>
</div>

