@using Dto.ApiPanelDtos.AdditionalServiceDtos;
@using Dto.ApiPanelDtos.LanguageDtos;
@model (List<AdditionalServiceListDto> DataModel, List<LanguageListDto> LangaugeModel)
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <h4 class="card-header">Additional Service List</h4>
    <div class="card-body">
        <div class="clearfix">
            <div class="row justify-content-end">
                <div class="mb-4">
                    <a class="btn btn-secondary float-end" href="/AdditionalService/AddAdditionalService">
                        Add Additional Service
                    </a>
                </div>
            </div>
        </div>
        <table id="scroll-horizontal-datatable" class="table w-100 nowrap table-striped">
            <thead>
                <tr>
                    <th style="width:0%">Update</th>
                    <th style="width:0%">Status</th>
                    <th style="width:0%">Options</th>
                    <th style="width:0%">Form Inputs</th>
                    <th>Additional Service</th>
                    <th>Per person/Group</th>
                    <th>Per Day/Per Tour</th>
                    <th>Number of participants</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var additionalService in Model.DataModel)
                {
                    <tr>
                        <td>
                            <div class="btn-group">
                                <a href="/AdditionalService/EditAdditionalService/@additionalService.AdditionalServiceID"
                                   class="btn btn-primary">Update</a>
                                <button type="button"
                                        class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var language in Model.LangaugeModel)
                                    {
                                        <li>
                                            <a class="dropdown-item" href="/AdditionalService/LanguageEditAdditionalService/@additionalService.AdditionalServiceID/@language.LanguageID">@language.LanguageName</a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </td>
                        <td>
                            @if (additionalService.Status)
                            {
                                <a href="/AdditionalService/ToggleAdditionalServiceStatus/@additionalService.AdditionalServiceID" class="btn btn-success w-100"> Active</a>
                            }
                            else
                            {
                                <a href="/AdditionalService/ToggleAdditionalServiceStatus/@additionalService.AdditionalServiceID" class="btn btn-danger w-100"> Passive</a>
                            }

                        </td>
                        <td>
                            <a class="btn btn-dark" href="/AdditionalService/OptionList/@additionalService.AdditionalServiceID">
                                Options
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-warning" href="/AdditionalService/FormInputList/@additionalService.AdditionalServiceID">
                                Form Inputs
                            </a>
                        </td>
                        <td>@additionalService.Name</td>
                        @if (additionalService.IsPerPerson)
                        {
                            <td>Per Person</td>
                        }
                        else
                        {
                            <td>Per Group</td>
                        }
                        @if (additionalService.IsPerDay)
                        {
                            <td>Per Day</td>
                        }
                        else
                        {
                            <td>Per Product</td>
                        }
                        @if (additionalService.IsSpecialNumber)
                        {
                            <td>Special Number</td>
                        }
                        else
                        {
                            <td>Number of participants</td>
                        }

                    </tr>
                }


            </tbody>

        </table>

    </div>
</div>



