@using Dto.ApiPanelDtos.AdditionalServiceDtos;
@model LanguageEditAdditionalServiceDto
@{
    ViewData["Title"] = "LanguageEditAdditionalService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        
        <h4 class="float-start">
            <a href="/AdditionalService/Index">Service List</a>
            > Edit Additional Service > @Model.Name</h4>
        <h4 class="float-end">@Model.LanguageName</h4>
    </div>

    <div class="card-body">
        <p class="card-text">
            Asterisk (<span class="text-danger fw-bold">*</span>) required
            fields
        </p>
        <!-- Edit Additional Service Start -->
        <!-- start page title -->
        <form method="post">
            <input hidden asp-for="AdditionalServiceLanguageItemID" />
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="additional-service-name" class="form-label fw-bold">
                        Additional Service Name:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input readonly asp-for="Name" type="text" id="additional-service-name" class="form-control">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3 mr-1">
                    <label for="display-name" class="form-label fw-bold">
                        Display Name:<span class="text-danger fw-bold">*</span>
                    </label>
                    <input type="text" id="display-name" asp-for="DisplayName" class="form-control">
                </div>

                <!-- Button -->
                <div class="col-sm-12 mb-3 mr-1 d-flex flex-row-reverse bd-highlight">
                    <button type="submit"
                            class="btn btn-dark rounded-pill px-5 mt-3">
                        SAVE
                    </button>
                </div>
            </div>
        </form>
        <!-- Edit Additional Service End -->

    </div>
</div>

